body 
{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 100rem;
  padding: 1rem;

  background: lightskyblue;
}

#contents
{
  max-width: 80rem;
  background: white;
}

.inline
{
  display: inline-block;
  margin-right: 10px;
}

.block
{
  display: block;
}
